<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Home</title>
</head>

<body>
    <div class="container">
        <div class="greetPeople">
            Greetings from Nodejs and Express
        </div>
        <div class="container2">
            <div class="enterName">
                <span class="textboxName">
                    <form action="/greetings" method="POST">
                        <label for="fname">Greetings </label>
                        <input class="textName" type="text" name="name" value="" placeholder="Enter your name"
                            class="fname">
                        <div class="languageTypes">
                            <div class="radiobuttons">
                                {{#each languages}}
                                <label class="">
                                    <input type="radio" name="languageTypeRadio" class="languageTypeRadio"
                                        value={{id}}>
                                    <span class="label-body">{{name}}</span>
                                </label>
                                {{/each}}
                            </div>
                        </div>
                        <div class="buttons">
                            <button class="button-primary greetMeButton" type="submit" name="button">Greet Me</button>
                        </div>
                    </form>
                </span>
                <span class="counttracker">
                    <span class="count">{{count}}</span>
                </span>
                <form action="/reset" method="POST">
                    <button class="button-primary resetCounterButton" type="submit" name="button">Reset Counter</button>
                </form>
            </div>
            <div class="greetSection">
                <span>{{messages.greeted}}</span>
            </div>
            <div class="errorMessages">
                {{#if messages.errorMessages}}
                <span>{{messages.errorMessages}}</span>
                {{/if}}
            </div>
            <div class="Names">
                {{#if count}}
                <a href="/actions">Greeted Names</a>
                {{/if}}
            </div>
        </div>
    </div>
</body>
</html>